 .medium{
    display: grid;
    height: 100vh;
    
  }
  .medium .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 4rem auto;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .medium-img {
    width: 100%;
    align-self: center;
  }
  .header-content {
    display: flex;
    flex-direction: column;
  }
  
  .contant-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
  }
  .contant-main h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  
  .contant-main p {
    font-weight: 500;
  }
  
  @media (max-width: 768px) {
    .medium .container{
      grid-template-columns: 1fr;
      margin: 1rem 0;
    }
    .contant-main h1 {
      font-size: 0.95rem;
      margin-bottom: 1rem;
    }
    .contant-main p {
      font-size: 1.0rem;
    }
  }